langgraph
langchain-core
langchain-community
langchain-openai
trustcall
langchain-fireworks
pinecone-client
tiktoken
loguru
typing-extensions
python-dotenv
uuid
aiohttp
discord.py
rich
pydantic_settings
yarl
pinecone-text
